<h1>Books</h1>
<table class="up">
  <tr>
    <th>本のタイトル</th>
    <th>感想</th>
    <th></th>
  </tr>
</table>
<% @books.each do |book| %>
<table class="midle">
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <div class="midle-links">
      <td><%= link_to "Show", book_path(book.id), method: :get %></td>
      <td><%= link_to "Edit", edit_book_path(book.id) %></td>
      <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    </div>
  </tr>
</table>
<% end %>

<section class="new-book">
  <h3>New book</h3>

  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <p class="sub-title">本のタイトル</p>
    <%= f.text_field :title %>

    <p class="sub-title">感想</p>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
  <% end %>
</section>